:root {
    /* --mainBlue: #2a2a72; */
    --mainBlue: #F6921E;
    --lightBlue: #009ffd;
    /* --lightBlue: #00ADEE; */
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    /* --mainYellow: #ffa400; */
    --mainYellow: #EB008B;
}

body {
    font-family: 'Roboto Condensed', sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.text-title {
    font-family: 'Supermercado One', cursive;
    letter-spacing: 0.2rem;
    /* text-transform: uppercase; */
}

.text-blue {
    color: var(--mainBlue);
}

.text-bright {
    color: var(--lightBlue);
}
